*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.container {
  max-width: 1200px;
  margin: 4rem auto;
}

footer {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.add-form {
  width: 350px;
  padding: 2rem;
}

.add-form label {
  margin: 2rem;
}

.add-form input {
  float: right;
}


.user{
  width: fit-content;
  margin: 150px auto;
  display: flex;
}
.user img{
  width: 200px;
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  z-index: 100;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  transition: transform 1s, box-shadow 1s;
  text-align: center;
  border-image: round;
}
.info{
  padding: 10px 50px;
  transform: translateX(0px);
  opacity: 100;
  transition: transform 1s; opacity: 1s;
}
.info h1{
  font-size: 80px;
  font-weight: 500;
}
.info p{
  line-height: 26px;
}
.info a{
  background: #4f404f;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 30px;
  margin-top: 20px;
}
.close-icon{
  width: 320px;
  cursor: pointer;
  position: relative;
  transition: transform 1s;
}
.close-icon::before, .close-icon::after{
  content: '';
  height: 100%;
  width: 2px;
  background: #333;
  position:absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
}
.close-icon::before{
  transform: rotate(30deg);
}
.close-icon::after{
  transform: rotate(-30deg);
}
.hide-details .info{
  transform: translateX(50px);
  opacity: 0;
}
.hide-details .close-icon{
  transform: translateX(-410px);
}
.hide-details img{
  transform: translateX(410px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}
.container{
  text-align: center;
  opacity: 100;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  /* background-image: linear-gradient(red, orange); */
}  

.info{
  text-align: center;
}
.userBox{
  text-align: center;
  border-image: round;
  width: auto;
  height: auto;

}
.content{
  background: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/3-dark-clouds-as-background-kyna-studio.jpg");
  background-size:contain;
  background-position:top;
  background: cover;
}